@import "./variable";
.navbar {
    height: 80px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: #fff;
    display: flex;
    align-items: center;
    .nav-container {
        width: $container-width;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .nav-logo {
            color: $main_color;
            font-size: 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
        .nav-menu {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0.5rem;
            .nav-item {
                padding: 1.3rem 0;
                height: 100%;
                border-bottom: 3px solid transparent;
                position: relative;
                // &::after {
                //     content: "";
                //     display: block;
                //     height: 3px;
                //     width: 0;
                //     background: transparent;
                //     transition: width 0.7s ease, background-color 0.5s ease;
                //     bottom: -4px;
                //     position: absolute;
                // }
                // &:hover::after {
                //     width: 100%;
                //     background: $main_color;
                // }
                .nav-links {
                    color: $black_color;
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        color: $main_color;
                    }
                }
            }
        }
        .nav-icon {
            display: none;
        }
    }
    @include mobile {
        .nav-container {
            .nav-menu {
                border-top: 1px solid $main_color;
                position: absolute;
                top: 80px;
                display: flex;
                flex-direction: column;
                width: 100%;
                left: -110%;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
                padding-top: 0.5rem;
                align-items: flex-start;
                background: #fff;
                &.active {
                    left: 0px;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 1;
                }
                .nav-item {
                    padding: 0.5rem 0;
                    nav-links {
                        padding: 0;
                    }
                }
            }
            .nav-icon {
                display: block;
                font-size: 30px;
                svg {
                    fill: $black_color;
                }
            }
        }
    }
}
section {
    height: 80vh;
}
.introduction {
    margin-top: 80px;
}